@{
    Layout = null;

}

<!DOCTYPE html>
<html ng-app="TRESTTO">
<head>
    <meta charset="utf-8" />


</head>
<body ng-controller="rootCtrl">

    <div class="container-fluid" ng-view>
    </div>

    @Scripts.Render("~/bundles/vendor")

    @Scripts.Render("~/bundles/dashboard")
</body>
</html>
